.home {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;

  .home-notes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    .note {
      margin: 10px;
    }
  }
}

.even {
  display: block;
  transform: rotate(-6deg);
}

.odd {
  display: block;
  transform: rotate(6deg);
}

.add-button-center,
.add-button {
  position: fixed;

  button {
    border: none;
    background-color: yellow;
    border-radius: 50%;

    i {
      background-color: yellow;
      color: #000000;
    }
  }
}
.add-button {
  bottom: 50px;
  right: 50px;

  button {
    padding: 15px;
  }
}

.add-button-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    padding: 50px;
  }

  i {
    font-size: 40px;
  }
}
